* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.unit-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.unit-header {
    padding: 30px;
    background-color: #2D2F31;
    color: #FFFFFF;
    border-bottom: 1px solid #3E4143;
}

.unit-main {
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
}

.unit-main-page-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    padding: 50px;
    border-bottom: 1px solid #D1D7DC;
    overflow-y: scroll;
}

.unit-main-column-1 {
    flex: 3;
    background-color: #FFFFFF;
}

.unit-main-page-left-button {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    color: #FFFFFF;
    background-color: #2D2F31;
    cursor: pointer;
    font-size: 60px;
    border: none;
    padding: 20px;
    line-height: 1;
    vertical-align: middle;
}

.unit-main-page-right-button {
    position: absolute; 
    top: 50%; 
    right: 0px; 
    transform: translateY(-50%); 
    color: #FFFFFF;
    background-color: #2D2F31;
    cursor: pointer;
    font-size: 60px;
    border: none;
    padding: 20px;
    line-height: 1; 
}

.unit-main-column-1-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.unit-main-column-1-dashboard-header {
    display: flex;
    padding: 20px;
    width: 97.5%;
    border-bottom: 1px solid #D1D7DC;
}

.unit-main-column-1-dashboard div {
    display: flex;
    padding: 20px;
    width: 97.5%;
    border-bottom: 1px solid #D1D7DC;
}

.unit-main-column-1-dashboard-header h3 {
    margin-right: 20px;
    cursor: pointer
}

.unit-main-column-1-dashboard-header h3:hover {
    color: #3E4143;
}

.unit-main-column-1-dashboard-header .selected {
    color: #28C382;
}

.unit-main-column-1-dashboard-header .selected:hover {
    color: #28C382;
}

.unit-main-column-1-dashboard-content {
    padding: 20px;
}

.unit-main-column-2 {
    flex: 1;
    border-left: 1px solid #d1d7dc;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    max-height: 100%;
}

.unit-main-column-2-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #D1D7DC;
    padding: 20px;
}

.unit-main-column-2-header h3 {
    font-size: 40px;
}

.unit-main-column-2-content {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.unit-main-section {
    padding: 10px;
    border-bottom: 1px solid #D1D7DC;
    cursor: pointer;
}

.unit-main-section:hover {
    color: #FFFFFF;
    background-color: #28C382;
    border-bottom: 1px solid #28C382;
}

.unit-main-section-selected {
    padding: 10px;
    border-bottom: 1px solid #D1D7DC;
    color: #FFFFFF;
    background-color: #3E4143;
    border-bottom: 1px solid #3E4143;
}

.unit-progress-bar-container {
    height: 5px;
    width: 100%;
}

.unit-progress-bar {
    height: 5px;
    width: 0px;
    background-color: #28C382;
    transition: 0.3s;
}


/* Pages */
.page {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-top: 50px;
}

.page-row {
    max-width: 900px;
    display: flex;
    flex-direction: row;
}

.page h1 {
    margin-bottom: 20px;
}

.page p {
    margin-bottom: 20px;
}

.page ul {
    margin-bottom: 20px;
}

.page img {
    max-width: 400px;
    margin-left: 50px;
}

.page input {
    padding: 10px;
    width: 200px;
    margin-bottom: 20px;
}

.page table {
    margin-bottom: 20px;
}

.page th {
    color: #FFFFFF;
    background-color: #2D2F31;
}

.page td {
    text-align: center;
}

.page tr {
    color: #FFFFFF;
    background-color: #3E4143;
}

.page button {
    transition: 0.3s;
}

.page-input .button-neutral {
    padding: 10px;
    width: 200px;
    color: #FFFFFF;
    background-color: #2D2F31;
    border: none;
    outline: none;
    cursor: pointer;
}

.page-input .button-correct {
    padding: 10px;
    width: 200px;
    color: #FFFFFF;
    background-color: #28C382;
    border: none;
    outline: none;
    cursor: pointer;
}

.page-input .button-incorrect {
    padding: 10px;
    width: 200px;
    color: #FFFFFF;
    background-color: #B51C15;
    border: none;
    outline: none;
    cursor: pointer;
}

.page-multiple-answer button {
    padding: 20px;
    width: 400px;
    color: #FFFFFF;
    background-color: #2D2F31;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.page-multiple-answer .button-correct {
    padding: 20px;
    width: 400px;
    color: #FFFFFF;
    background-color: #28C382;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.page-multiple-answer .button-incorrect {
    padding: 20px;
    width: 400px;
    color: #FFFFFF;
    background-color: #B51C15;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.final-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
}

.final-page h1 {
    margin-bottom: 20px;
}

.final-page h2 {
    margin-bottom: 40px;
}

.final-page button {
    padding: 20px;
    color: #FFFFFF;
    background-color: #28C382;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.final-page .reset-button {
    padding: 20px;
    color: #FFFFFF;
    background-color: #2D2F31;
    border: none;
    outline: none;
    cursor: pointer;
}