* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.unit-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.unit-header {
    padding: 30px;
    background-color: #2D2F31;
    color: #FFFFFF;
    border-bottom: 1px solid #3E4143;
}

.unit-main {
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    max-height: 100%;
}

.unit-main-column-1 {
    flex: 3;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.unit-main-page-left-button {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    color: #FFFFFF;
    background-color: #2D2F31;
    cursor: pointer;
    font-size: 60px;
    border: none;
    padding: 20px;
    line-height: 1;
    vertical-align: middle;
}

.unit-main-page-right-button {
    position: absolute; 
    top: 50%; 
    right: 0px; 
    transform: translateY(-50%); 
    color: #FFFFFF;
    background-color: #2D2F31;
    cursor: pointer;
    font-size: 60px;
    border: none;
    padding: 20px;
    line-height: 1;
    transition: 0.3s; 
}

.expand-sidebar-button {
    position: absolute; 
    top: 10%; 
    right: 0px; 
    transform: translateY(-50%); 
    color: #FFFFFF;
    background-color: #28C382;
    cursor: pointer;
    font-size: 20px;
    border: none;
    padding: 20px;
    line-height: 1;
    transition: 0.3s;
}

.expand-sidebar-button:hover {
    color:#3E4143;
}

.expand-dashboard-button {
    position: absolute; 
    bottom: 0; 
    left: 0px; 
    transform: translateY(-50%); 
    color: #FFFFFF;
    background-color: #28C382;
    cursor: pointer;
    font-size: 20px;
    border: none;
    padding: 20px;
    line-height: 1; 
}

.unit-main-column-1-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.unit-main-column-1-dashboard-header {
    display: flex;
    padding: 20px;
    width: 97.5%;
    border-bottom: 1px solid #D1D7DC;
}

.unit-main-column-1-dashboard div {
    display: flex;
    padding: 20px;
    width: 97.5%;
    border-bottom: 1px solid #D1D7DC;
}

.unit-main-column-1-dashboard-header h3 {
    margin-right: 20px;
    color: #3E4143;
    cursor: pointer
}

.unit-main-column-1-dashboard-header h3:hover {
    color: #000000;
}

.unit-main-column-1-dashboard-header .selected {
    color: #28C382;
}

.unit-main-column-1-dashboard-header .selected:hover {
    color: #28C382;
}

.unit-main-column-1-dashboard-content {
    padding: 20px;
}

.unit-main-column-2 {
    flex: 1;
    border-left: 1px solid #d1d7dc;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    max-height: 100%;
}

.unit-main-column-2-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #D1D7DC;
    padding: 20px;
}

.unit-main-column-2-header h3 {
    font-size: 30px;
    cursor: pointer;
}

.unit-main-column-2-header h3:hover {
    font-size: 30px;
    color: #28C382;
    cursor: pointer;
}

.unit-main-column-2-content {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.unit-main-section {
    padding: 10px;
    border-bottom: 1px solid #D1D7DC;
    cursor: pointer;
}

.unit-main-section:hover {
    color: #FFFFFF;
    background-color: #28C382;
    border-bottom: 1px solid #28C382;
}

.unit-main-section-selected {
    padding: 10px;
    border-bottom: 1px solid #D1D7DC;
    color: #FFFFFF;
    background-color: #3E4143;
    border-bottom: 1px solid #3E4143;
}

.unit-progress-bar-container {
    height: 5px;
    width: 100%;
    background-color: #414A4C;
}

.unit-progress-bar {
    height: 5px;
    width: 0px;
    background-color: #28C382;
    transition: 0.3s;
}

.unit-main-page-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 600px;
    padding-top: 100px;
    padding-bottom: 100px;
    overflow-y: auto;
    color: #FFFFFF;
    background-color: #414A4C;
}

.unit-main-page-container-full-height {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    overflow-y: scroll;
    color: #FFFFFF;
    background-color: #3E4143;
    box-sizing: content-box;
}

/* Pages */
.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.page-column {
    display: flex;
    flex-direction: column;
}

.page-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 200px;
    background-color: #2D2F31;
}

.page-row p {
    line-height: 10px;
}

.page-row ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.page-row ul span {
    color: #28C382;
}

.page-row img {
    max-height: 400px;
    max-width: 400px;
    margin-right: 40px;
}

.page h1 {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 60px;
    padding: 40px;
    background: hsla(333, 100%, 53%, 1);
    background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF0F7B", endColorstr="#F89B29", GradientType=1 );
    border-radius: 5px;
}

.page p {
    width: 600px;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 60px;
    line-height: 2;
    background-color: #2D2F31;
    padding: 20px;
    color: #FFFFFF;
}

.page ul {
    width: 600px;
    line-height: 50px;
    font-size: 25px;
    font-weight: bold;
    list-style-type: square;
    list-style-position: inside;
    background-color: #2D2F31;
    padding: 20px;
}

.page h3 {
    width: 600px;
}

.page input {
    padding: 20px;
    width: 400px;
    margin-bottom: 20px;
}

.page table {
    margin-bottom: 20px;
}

.page th {
    color: #FFFFFF;
    background-color: #2D2F31;
    padding: 10px;
}

.page td {
    text-align: center;
    padding: 10px;
}

.page tr {
    color: #FFFFFF;
    background-color: #3E4143;
}

.page button {
    transition: 0.3s;
}

.page-input {
    width: 100%;
}

.page-input .button-neutral {
    padding: 20px;
    width: 400px;
    color: #FFFFFF;
    background-color: #2D2F31;
    border: none;
    outline: none;
    cursor: pointer;
}

.page-input .button-correct {
    padding: 20px;
    width: 400px;
    color: #FFFFFF;
    background-color: #28C382;
    border: none;
    outline: none;
    cursor: pointer;
}

.page-input .button-incorrect {
    padding: 20px;
    width: 400px;
    color: #FFFFFF;
    background-color: #B51C15;
    border: none;
    outline: none;
    cursor: pointer;
}

.page-multiple-answer{
    width: 100%;
}

.page-multiple-answer button {
    padding: 20px;
    width: 400px;
    color: #FFFFFF;
    background-color: #2D2F31;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.page-multiple-answer .button-correct {
    padding: 20px;
    width: 400px;
    color: #FFFFFF;
    background-color: #28C382;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.page-multiple-answer .button-incorrect {
    padding: 20px;
    width: 400px;
    color: #FFFFFF;
    background-color: #B51C15;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.final-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
}

.final-page h1 {
    margin-bottom: 20px;
}

.final-page h2 {
    margin-bottom: 40px;
}

.final-page button {
    padding: 20px;
    color: #FFFFFF;
    background-color: #28C382;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.final-page .reset-button {
    padding: 20px;
    color: #FFFFFF;
    background-color: #2D2F31;
    border: none;
    outline: none;
    cursor: pointer;
}